body 
{background-image: url(CrescentMoonVillageedit.jpg);}
h1 
{color:blueviolet;font-family:'trattatello, fantasy', sans-serif;}
img{margin-left 100px;}
p
{background-color: blueviolet;border: blue;}
