body 
{background-image: url(CrescentMoonVillageedit.jpg);}
h1 
{color:black;font-family:'Graffiti font', sans-serif;}
img{margin-left 100px;}
p
{background-color: blueviolet;border: blue;}
<style>
                            @import url('https://fonts.cdnfonts.com/css/graffiti-font');
</style>
                